<% flash.each do |type, messages| %>
  <% if type == 'alert' %>
    <div id="<%= "flash-#{type}" %>" data-controller="revalidate" data-revalidate-min-timeout="8000" class="border rounded border-red-600 bg-red-500 text-white p-1 my-1 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
      <div class="ml-1">
        <% messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
